<div><span class="label">Username:</span><input type="text" size="20" name="UserName" value="<%= session["UserName"] %>"></div>
<div><span class="label">MSISDN:</span><input type="text" size="20" name="MSISDN" value="<%= session["MSISDN"] %>"></div>
<div><span class="label">Cod.Fisc:</span><input type="text" size="20" name="Cod_Fiscale" value="<%= session["Cod_Fiscale"] %>"></div>
<div><span class="label">I.P.:</span><input type="text" size="20" name="Remote_ip_address" value="<%= session["Remote_ip_address"] %>"></div>
<div><span class="label">ContractNumber:</span><input type="text" size="20" name="ContractNumber" value="<%= session["ContractNumber"] %>"></div>
<div><span class="label">&nbsp;</span><input type="submit" value="SUBMIT"></div>

