<div><span class="label">RamVATCode:</span><input type="text" size="20" name="RamVATCode" value="<%= session["RamVATCode"] %>"></div>
<div><span class="label">ContractNumber:</span><input type="text" size="20" name="ContractNumber" value="<%= session["ContractNumber"] %>"></div>
<div><span class="label">Card Number:</span><input type="text" size="20" name="CardNumber" value="<%= session["CardNumber"] %>"></div>
<div class="container">
	<div class="field-column">
      <span class="label">Card Exp Data:</span><input type="text" size="20" name="CardEndDate" value="<%= session["CardEndDate"] %>">
    </div>
	<div class="caption-column">
		(formato: "YYYYMM")
	</div>
</div>    
<div><span class="label">Card Brand:</span><input type="text" size="20" name="CardType" value="<%= session["cardType"] %>"></div>
<div><span class="label">Card Owner Name:</span><input type="text" size="20" name="CardOwnerName" value="<%= session["CardOwnerName"] %>"></div>
<div><span class="label">Card Owner Surname:</span><input type="text" size="20" name="CardOwnerSurname" value="<%= session["CardOwnerSurname"] %>"></div>
<div><span class="label">Esito:</span><input type="text" size="20" name="Esito" value="<%= session["Esito"] %>"></div>
<div><span class="label">Messaggio:</span><input type="text" size="20" name="Messaggio" value="<%= session["Messaggio"] %>"></div>
<div><span class="label">Email:</span><input type="text" size="20" name="Email" value="<%= session["Email"] %>"></div>
<div><span class="label">Transaction Code:</span><input type="text" size="20" name="CodTrans" value="<%= session["CodTrans"] %>"></div>
<div><span class="label">I.P.:</span><input type="text" size="20" name="Remote_ip_address" value="<%= session["Remote_ip_address"] %>"></div>
<div><span class="label">&nbsp;</span><input type="submit" value="SUBMIT"></div>

