<div class="container">
	<div class="field-column">
      <span class="label">Action Type:</span><input type="text" size="20" name="actionType" value="<%= session["actionType"] %>">
    </div>
	<div class="caption-column">
		<span>&nbsp;(NEWSUB = Attivazione AL, NEWMNP = Attivazione MNP)</span>
	</div>
</div>
<div><span class="label">Cos ID:</span><input type="text" size="20" name="cosid" value="<%= session["cosid"] %>"></div>
<div><span class="label">Current Promos:</span><input type="text" size="20" name="promotionList" value="<%= session["promotionList"] %>"></div>
<div><span class="label">Promo Tag List:</span><input type="text" size="20" name="promotionTagList" value="<%= session["promotionTagList"] %>"></div>
<div><span class="label">Order TID:</span><input type="text" size="20" name="OrderTID" value="<%= session["OrderTID"] %>"></div>
<div><span class="label">Account ID:</span><input type="text" size="20" name="accountId" value="<%= session["accountId"] %>"></div>
<div><span class="label">Email:</span><input type="text" size="20" name="email" value="<%= session["email"] %>"></div>
<div><span class="label" style="vertical-align: top">Email Text:</span><textarea name="emailText" rows="8" cols="40" >Grazie dei fiori!</textarea></div>
<div><span class="label">Privacy Flag 1:</span><input type="text" size="20" name="privacyFlag1" value="<%= session["privacyFlag1"] %>"></div>
<div><span class="label">Privacy Flag 2:</span><input type="text" size="20" name="privacyFlag2" value="<%= session["privacyFlag2"] %>"></div>
<div><span class="label">I.P.:</span><input type="text" size="20" name="Remote_ip_address" value="<%= session["Remote_ip_address"] %>"></div>
<div><span class="label">&nbsp;</span><input type="submit" value="SUBMIT"></div>
